@page "/report"
@using FastReport;
@using FastReport.Data;
@using Microsoft.Data.SqlClient;

<h3>ReportPage</h3>

<WebReportContainer WebReport=@MyWebReport />

@code {
	private WebReport MyWebReport { get; set; } = new WebReport();

	private string connectionName = @"Data Source=KYR-RYZEN\SQLEXPRESS;AttachDbFilename=;Initial Catalog=Eforos;Integrated Security=True;Persist Security Info=False;User ID= Tester;Password= fuckinga";
	protected override void OnParametersSet()
	{
		var reportName = @"C:\Users\kyrlo\soft\blazor\Test-FastReport\Test-FastReport\FastReports\s1.frx";
		FastReport.Utils.RegisteredObjects.AddConnection(typeof(MsSqlDataConnection));
		var report = Report.FromFile(reportName);
	
		MyWebReport.Report = report;


	}
}