@page "/report"
@using FastReport;
@using FastReport.Data;
@using FastReport.Web
@using FastReport.Web.Blazor.Components
@using FastReport.Web.Blazor.Components.Internal


<h3>ReportPage</h3>

<WebReportContainer WebReport=@MyWebReport />

@code {
	private WebReport MyWebReport { get; set; } = new WebReport();

	
	private string connectionName = @"Data Source=KYR-RYZEN\SQLEXPRESS;AttachDbFilename=;Initial Catalog=test4;Integrated Security=False;Persist Security Info=True;User ID=Tester4;Password=tester4";

	protected override void OnParametersSet()
	{
		var reportName = @"C:\Users\kyrlo\soft\blazor\Test-FastReport\Test-FastReport\FastReports\x3.frx";
		FastReport.Utils.RegisteredObjects.AddConnection(typeof(MsSqlDataConnection));
		var report = Report.FromFile(reportName);
	

		MsSqlDataConnection conn = new MsSqlDataConnection();
		conn.ConnectionString = connectionName;
		report.Dictionary.Connections.Add(conn);
		conn.CreateAllTables();


		MyWebReport.Report = report;
		

	}
}